body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.container {
    position: relative;
    min-height: 100vh;
}

.content {
    padding-bottom: 5rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.navigation nav ul {
    float: right;
    padding: 1%;
    padding-right: 0;
    font-size: 13px;
    align-items: center;
    display: flex;
    flex-direction: row;

}

.navigation nav ul li,
.navigation nav ul li a {
    padding-right: 12px;
    color: black;
}

.navigation nav ul li img {
    width: 20px;
}

li {
    display: inline;
}

.google {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    padding-bottom: 2%;
}

.logo {
    width: 280px;
    margin-top: 50px;
    margin-bottom: 25px;
}

.search-bar {
    margin-bottom: 25px;
}

.search-bar input {
    width: 40%;
    height: 35px;
    margin: 0 auto;
    border-radius: 20px;
    border-color: rgb(180, 180, 180);
    outline: 0 none;
}

.search-buttons button {
    padding: 10px 15px;
    margin: 2px;
    border-radius: 3px;
    border: none;
    color: rgb(100, 100, 100);
    background-color: rgb(245, 244, 244);
}

.language {
    font-size: 12px;
}

.language a {
    color: rgb(27, 2, 167);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background-color: rgb(245, 245, 245);
    color: rgb(100, 100, 100);
    font-size: 14px;
}

footer .left {
    float: left;
    text-align: left;
    padding-left: 40px;
}

.footer-menu-1 ul {
    padding-left: 0;
}

.footer-menu-1 ul li {
    padding-right: 20px;
}

.footer-menu-1 ul li a,
.footer-menu-2 ul li a {
    color: rgb(100, 100, 100);
}

.footer-menu-2 {
    float: right;
    padding-right: 40px;
    padding-top: 30px;
}

.footer-menu-2 ul li {
    padding-left: 20px;
}